<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="utf-8">
  <title>Pitaj Vakulu</title>
  <meta name="description" content="Vremenska progonoza za tvoj grad!">
  <meta name="author" content="Vidoviti Vakula">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <meta property="og:title" content="Vidoviti Vakula predviđa vrijeme!"/>
  <meta property="og:image" content="http://vakula-pitaj.ga/images/ogimage.png"/>
</head>
<body>
  <p style="display:none">PROGNOZA VREMENA ima svakojakih - kratkoročnih, srednjoročnih, dugoročnih. Subjektivnih i objektivnih. Dostupne su na mnogim internet stranicama, ali kojekakve kvalitete. Na WEB stranicama DHMZ-a pružena vam je mogućnost svakodnevnog praćenja, ne samo "subjektivnih" prognoza meteorologa za danas i sutra za Hrvatsku, posebice za Jadran i Zagreb, već i objektivnih "računalnih" sedmodnevnih prognoza za niz mjesta u Hrvatskoj i svijetu.
Prve svaki dan pišu prognostičari, na temelju rezultata više prognostičkih modela i svog iskustva. Isto tako određuju i znak vremena koje će prevladavati pojedinog dana na određenom području.

"Računalna" ili "kompjutorska", prognoza vremena izravan je rezultat jednog prognostičkog modela. Znak vremena određen je iz prognoze količine naoblake, te vrste i količine oborine određenog dana. Ako se pojavljuje kiša ili snijeg, to ne znači da će padati cijeli dan, nego barem u jednom njegovom dijelu. Pritom se srednja naoblaka i ukupna količina oborine izračunavaju iz četiri uzastopna prognostička šestsatna termina (6, 12, 18 i 00 UTC). Najviša i najniža temperatura zraka također su izravan rezultat modela, bez ispravaka prognostičara.

Dosadašnje praćenje ostvarenja prognoza pokazalo je da temperatura izravno uzeta iz modela odstupa od stvarnih vrijednosti mnogo više od službenih prognoza meteorologa (što naravno ima svoje razloge). Stoga te sedmodnevne prognoze valja shvatiti tek kao trend vremena, tj. najavu dana u kojima se očekuju zatopljenja i/ili zahladnjenja, kao i oborine. Također, ne smije se zanemariti pouzdanost prognoza koja je sve manja, što je prognostičko razdoblje dulje.</p>
  <p style="display:none">Sport je fizička ili mentalna aktivnost koju čovjek izvodi po utvrđenom skupu pravila, u cilju natjecanja sa protivnikom ili protivničkim timom, uz primjenu propisanog sistema bodovanja na osnovu kojeg se utvrđuje pobjednik.

Sportovi se dijele na dvije grupe: grupni i samostalni.</p>
  <div class="container">
    <div class="row">
      <div class="column">
        <img src="images/head.png" alt="Mozak operacije" class="head">
        <form>
          <div class="twelve columns">
            <button type="submit" @click="getWeather(city, $event)" class="search">Prikaži</button>
            <div style="overflow: hidden; padding-right:0">
              <input class="u-full-width" type="text" placeholder="Zagreb" id="city_selector" v-model="city">
            </div>
            <h6 style="text-align: center;margin-bottom: -1.4em;font-weight: 600;">Pitaj Vidovitog Vakulu za sutrašnju prognozu!</h6>
          </div>
        </form>
        <div class="twelve columns">
          <img src="images/hands-still.gif" alt="Wougbauga" class="hands" v-bind:class="{'show':!loading}">
          <img src="images/hands.gif" alt="wougabugagagagag" class="hands" v-bind:class="{'show':loading}">
          <div class="weather" v-if="! loading">
              <span>{{ temperature }}</span>
              <img :src="icon">
          </div>
        </div>
        <div class="twelve columns" style="min-height:100px;width:100%">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Responsive -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2560784937445261"
               data-ad-slot="2941948034"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>  
        <div class="fb-share-button" 
          data-href="http://vakula-pitaj.ga/" 
          data-layout="button_count">
        </div>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
  <script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
  <script>
    new Vue({
      el: 'body',
      data: {
        loading: false,
        city: '',
        icon: null,
        temperature: null,
      },
      methods: {
        getWeather: function( city_name, e ) {
          e.preventDefault();
          this.$data.loading = true;
          this.$http.get('http://api.openweathermap.org/data/2.5/forecast/daily?q=' + city_name + ',hr&mode=json&units=metric&cnt=1&APPID=0342eec99dd95c10702afb42cc4e224f')
          .then(function(response) {
              
              var _this = this;

              setTimeout(function(){
                _this.$data.temperature = Math.ceil(response.data.list[0].temp.day) + '°C';
                _this.$data.icon = 'http://openweathermap.org/img/w/' + response.data.list[0].weather[0].icon + '.png';
                _this.$data.loading = false;
              }, 2000);
              
          }, function(response) {

          });

        }
      }
    });
    
  </script>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
